#cont-banner {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .3);
        text-align: center;

        h2{
            margin: .5em;
            color: #fff;
            font-size: 2.5em;
            line-height: 1.25em;

            span {
                font-family: 'IM Fell English SC', serif;
                font-size: 1.3em;
            }
        }
        
        p {
            margin: 0 .5em .5em;
            color: #fff;
            font-size: 1.5em;
            font-style: italic;
        }
    }

    &:after {
        content: '';
        background-image: url('../../../assets/Hogwarts-unsplash.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: 42% center;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
}

#sec-personajes {
    padding: 1.5em .25em;
    
    .sec-personajes-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1.5em;

        .h3 {
            margin: 0;
            min-width: fit-content;
            font-size: 1.9em;
        }

        #sec-personajes-select {
            margin-left: .5em;
            font-size: 1.25em;
        }
    }
}

#sec-estudiantes {
    text-align: center;
    margin: 2em 0;
    @extend #sec-personajes;

    .h3 {
        margin: 0 0 .75em;
        font-size: 1.9em;
    }

    .btn {
        margin-top: 1em;
    }
}

#sec-profesores {
    @extend #sec-estudiantes;
}